# -----------------------------
# PostgreSQL configuration file
# -----------------------------
#
# This file consists of lines of the form:
#
#   name = value
#
# (The "=" is optional.)  Whitespace may be used.  Comments are introduced with
# "#" anywhere on a line.  The complete list of parameter names and allowed
# values can be found in the PostgreSQL documentation.
#
# The commented-out settings shown in this file represent the default values.
# Re-commenting a setting is NOT sufficient to revert it to the default value;
# you need to reload the server.
#
# This file is read on server startup and when the server receives a SIGHUP
# signal.  If you edit the file on a running system, you have to SIGHUP the
# server for the changes to take effect, run "pg_ctl reload", or execute
# "SELECT pg_reload_conf()".  Some parameters, which are marked below,
# require a server shutdown and restart to take effect.
#
# Any parameter can also be given as a command-line option to the server, e.g.,
# "postgres -c log_connections=on".  Some parameters can be changed at run time
# with the "SET" SQL command.
#
# Memory units:  kB = kilobytes        Time units:  ms  = milliseconds
#                MB = megabytes                     s   = seconds
#                GB = gigabytes                     min = minutes
#                TB = terabytes                     h   = hours
#                                                   d   = days


#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------

# The default values of these variables are driven from the -D command-line
# option or PGDATA environment variable, represented here as ConfigDir.

#data_directory = 'ConfigDir'		# use data in another directory
					# (change requires restart)
data_directory = '{{ pg_data_directory }}'

#hba_file = 'ConfigDir/pg_hba.conf'	# host-based authentication file
					# (change requires restart)
hba_file = '{{ pg_hba_file }}'

#ident_file = 'ConfigDir/pg_ident.conf'	# ident configuration file
					# (change requires restart)
ident_file = '{{ pg_ident_file }}'

# If external_pid_file is not explicitly set, no extra PID file is written.
#external_pid_file = ''			# write an extra PID file
					# (change requires restart)
{% if pg_external_pid_file is defined %}
external_pid_file = '{{ pg_external_pid_file }}'
{% endif %}

#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

# - Connection Settings -

#listen_addresses = 'localhost'		# what IP address(es) to listen on;
					# comma-separated list of addresses;
					# defaults to 'localhost'; use '*' for all
					# (change requires restart)
listen_addresses = '{{ pg_listen_addresses }}'

#port = 5432				# (change requires restart)
port = '{{ pg_port }}'

#max_connections = 100			# (change requires restart)
max_connections = '{{ pg_max_connections }}'

#superuser_reserved_connections = 3	# (change requires restart)
superuser_reserved_connections = '{{ pg_superuser_reserved_connections }}'

#unix_socket_directories = '/tmp'	# comma-separated list of directories
					# (change requires restart)
unix_socket_directories = '{{ pg_unix_socket_directories }}'

#unix_socket_group = ''			# (change requires restart)
{% if pg_unix_socket_group is defined %}
unix_socket_group = '{{ pg_unix_socket_group }}'
{% endif %}

#unix_socket_permissions = 0777		# begin with 0 to use octal notation
					# (change requires restart)
unix_socket_permissions = '{{ pg_unix_socket_permissions | int }}'

#bonjour = off				# advertise server via Bonjour
					# (change requires restart)
bonjour = '{{ pg_bonjour }}'

#bonjour_name = ''			# defaults to the computer name
					# (change requires restart)
{% if pg_bonjour_name is defined %}
bonjour_name = '{{ pg_bonjour_name }}'
{% endif %}

# - TCP Keepalives -
# see "man 7 tcp" for details

#tcp_keepalives_idle = 0		# TCP_KEEPIDLE, in seconds;
					# 0 selects the system default
tcp_keepalives_idle = {{ pg_tcp_keepalives_idle | int }}

#tcp_keepalives_interval = 0		# TCP_KEEPINTVL, in seconds;
					# 0 selects the system default
tcp_keepalives_interval = {{ pg_tcp_keepalives_interval | int }}

#tcp_keepalives_count = 0		# TCP_KEEPCNT;
					# 0 selects the system default
tcp_keepalives_count = {{ pg_tcp_keepalives_count | int }}

# - Authentication -

#authentication_timeout = 1min		# 1s-600s
authentication_timeout = {{ pg_authentication_timeout }}

#password_encryption = md5		# md5 or scram-sha-256
password_encryption = '{{ pg_password_encryption }}'

#db_user_namespace = off
db_user_namespace = '{{ pg_db_user_namespace }}'

# GSSAPI using Kerberos
#krb_server_keyfile = ''
{% if pg_krb_server_keyfile is defined %}
krb_server_keyfile = {{ pg_krb_server_keyfile }}
{% endif %}

#krb_caseins_users = off
krb_caseins_users = {{ pg_krb_caseins_users }}

# - SSL -

#ssl = off
ssl = {{ pg_ssl }}
#ssl_ca_file = ''
{% if pg_ssl_ca_file is defined %}
ssl_ca_file = '{{ pg_ssl_ca_file }}'
{% endif %}

#ssl_cert_file = 'server.crt'
ssl_cert_file = '{{ pg_ssl_cert_file }}'

#ssl_crl_file = ''
{% if pg_ssl_crl_file is defined %}
ssl_crl_file = '{{ pg_ssl_crl_file }}'
{% endif %}

#ssl_key_file = 'server.key'
ssl_key_file = '{{ pg_ssl_key_file }}'

#ssl_ciphers = 'HIGH:MEDIUM:+3DES:!aNULL' # allowed SSL ciphers
ssl_ciphers = '{{ pg_ssl_ciphers }}'

#ssl_prefer_server_ciphers = on
ssl_prefer_server_ciphers = {{ pg_ssl_prefer_server_ciphers }}

#ssl_ecdh_curve = 'prime256v1'
ssl_ecdh_curve = '{{ pg_ssl_ecdh_curve }}'

#ssl_dh_params_file = ''
{% if pg_ssl_dh_params_file is defined %}
ssl_dh_params_file = '{{ pg_ssl_dh_params_file }}'
{% endif %}

#ssl_passphrase_command = ''
{% if pg_ssl_passphrase_command is defined %}
ssl_passphrase_command = '{{ pg_ssl_passphrase_command }}'
{% endif %}

#ssl_passphrase_command_supports_reload = off
ssl_passphrase_command_supports_reload = {{ pg_ssl_passphrase_command_supports_reload }}


#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

# - Memory -

#shared_buffers = 32MB			# min 128kB
					# (change requires restart)
shared_buffers = {{ pg_shared_buffers_gb }}GB

#huge_pages = try			# on, off, or try
					# (change requires restart)
huge_pages = {{ pg_huge_pages }}

#temp_buffers = 8MB			# min 800kB
temp_buffers = {{ pg_temp_buffers_mb }}MB

#max_prepared_transactions = 0		# zero disables the feature
					# (change requires restart)
# Caution: it is not advisable to set max_prepared_transactions nonzero unless
# you actively intend to use prepared transactions.
max_prepared_transactions = {{ pg_max_prepared_transactions }}

#work_mem = 4MB				# min 64kB
work_mem = {{ pg_work_mem_mb }}MB

#maintenance_work_mem = 64MB		# min 1MB
maintenance_work_mem = {{ pg_maintenance_work_mem_gb }}GB

#autovacuum_work_mem = -1		# min 1MB, or -1 to use maintenance_work_mem
autovacuum_work_mem = {{ pg_autovacuum_work_mem }}

#max_stack_depth = 2MB			# min 100kB
max_stack_depth = {{ pg_max_stack_depth }}

#dynamic_shared_memory_type = posix	# the default is the first option
					# supported by the operating system:
					#   posix
					#   sysv
					#   windows
					#   mmap
					# (change requires restart)
dynamic_shared_memory_type = {{ pg_dynamic_shared_memory_type }}

# - Disk -

#temp_file_limit = -1			# limits per-process temp file space
					# in kB, or -1 for no limit
temp_file_limit = {{ pg_temp_file_limit }}

# - Kernel Resources -

#max_files_per_process = 1000		# min 25
					# (change requires restart)
max_files_per_process = {{ pg_max_files_per_process | int }}

# - Cost-Based Vacuum Delay -

#vacuum_cost_delay = 0			# 0-100 milliseconds
vacuum_cost_delay = {{ pg_vacuum_cost_delay | int }}

#vacuum_cost_page_hit = 1		# 0-10000 credits
vacuum_cost_page_hit = {{ pg_vacuum_cost_page_hit | int }}

#vacuum_cost_page_miss = 10		# 0-10000 credits
vacuum_cost_page_miss = {{ pg_vacuum_cost_page_miss | int }}

#vacuum_cost_page_dirty = 20		# 0-10000 credits
vacuum_cost_page_dirty = {{ pg_vacuum_cost_page_dirty | int }}

#vacuum_cost_limit = 200		# 1-10000 credits
vacuum_cost_limit = {{ pg_vacuum_cost_limit | int }}

# - Background Writer -

#bgwriter_delay = 200ms			# 10-10000ms between rounds
bgwriter_delay = {{ pg_bgwriter_delay_ms }}

#bgwriter_lru_maxpages = 100		# max buffers written/round, 0 disables
bgwriter_lru_maxpages = {{ pg_bgwriter_lru_maxpages | int }}

#bgwriter_lru_multiplier = 2.0		# 0-10.0 multiplier on buffers scanned/round
bgwriter_lru_multiplier = {{ pg_bgwriter_lru_multiplier | float }}

#bgwriter_flush_after = 0		# measured in pages, 0 disables
bgwriter_flush_after = {{ pg_bgwriter_flush_after | int }}

# - Asynchronous Behavior -

#effective_io_concurrency = 1		# 1-1000; 0 disables prefetching
effective_io_concurrency = {{ pg_effective_io_concurrency | int }}

#max_worker_processes = 8		# (change requires restart)
max_worker_processes = {{ pg_max_worker_processes | int }}

#max_parallel_maintenance_workers = 2	# taken from max_parallel_workers
max_parallel_maintenance_workers = {{ pg_max_parallel_maintenance_workers | int }}

#max_parallel_workers_per_gather = 2	# taken from max_parallel_workers
max_parallel_workers_per_gather = {{ pg_max_parallel_workers_per_gather | int }}

#parallel_leader_participation = on
parallel_leader_participation = {{ pg_parallel_leader_participation }}

#max_parallel_workers = 8		# maximum number of max_worker_processes that
					# can be used in parallel operations
max_parallel_workers = {{ pg_max_parallel_workers | int }}

#old_snapshot_threshold = -1		# 1min-60d; -1 disables; 0 is immediate
					# (change requires restart)
old_snapshot_threshold = {{ pg_old_snapshot_threshold }}

#backend_flush_after = 0		# measured in pages, 0 disables
backend_flush_after = {{ pg_backend_flush_after | int }}


#------------------------------------------------------------------------------
# WRITE-AHEAD LOG
#------------------------------------------------------------------------------

# - Settings -

#wal_level = replica			# minimal, replica, or logical
					# (change requires restart)
wal_level = {{ pg_wal_level }}

#fsync = on				# flush data to disk for crash safety
					# (turning this off can cause
					# unrecoverable data corruption)
fsync = {{ pg_fsync }}

#synchronous_commit = on		# synchronization level;
					# off, local, remote_write, remote_apply, or on
synchronous_commit = {{ pg_synchronous_commit }}

#wal_sync_method = fsync		# the default is the first option
					# supported by the operating system:
					#   open_datasync
					#   fdatasync (default on Linux)
					#   fsync
					#   fsync_writethrough
					#   open_sync
wal_sync_method = {{ pg_wal_sync_method }}

#full_page_writes = on			# recover from partial page writes
full_page_writes = {{ pg_full_page_writes }}

#wal_compression = off			# enable compression of full-page writes
wal_compression = {{ pg_wal_compression }}

#wal_log_hints = off			# also do full page writes of non-critical updates
					# (change requires restart)
wal_log_hints = {{ pg_wal_log_hints }}

#wal_buffers = -1			# min 32kB, -1 sets based on shared_buffers
					# (change requires restart)
wal_buffers = {{ pg_wal_buffers }}

#wal_writer_delay = 200ms		# 1-10000 milliseconds
wal_writer_delay = {{ pg_wal_writer_delay_ms }}ms

#wal_writer_flush_after = 1MB		# measured in pages, 0 disables
wal_writer_flush_after_mb = {{ pg_wal_writer_flush_after_mb}}MB

#commit_delay = 0			# range 0-100000, in microseconds
commit_delay = {{ pg_commit_delay_ms }}

#commit_siblings = 5			# range 1-1000
commit_siblings = {{ pg_commit_siblings }}

# - Checkpoints -

#checkpoint_timeout = 5min		# range 30s-1d
checkpoint_timeout = {{ pg_checkpoint_timeout }}

#max_wal_size = 1GB
max_wal_size = {{ pg_max_wal_size }}

#min_wal_size = 80MB
min_wal_size = {{ pg_min_wal_size }}

#checkpoint_completion_target = 0.5	# checkpoint target duration, 0.0 - 1.0
checkpoint_completion_target = {{ pg_checkpoint_completion_target | float }}

#checkpoint_flush_after = 0		# measured in pages, 0 disables
checkpoint_flush_after {{ pg_checkpoint_flush_after | int }}

#checkpoint_warning = 30s		# 0 disables
checkpoint_warning = {{ pg_checkpoint_warning }}

# - Archiving -

#archive_mode = off		# enables archiving; off, on, or always
				# (change requires restart)
archive_mode = {{ pg_archive_mode }}

#archive_command = ''		# command to use to archive a logfile segment
				# placeholders: %p = path of file to archive
				#               %f = file name only
				# e.g. 'test ! -f /mnt/server/archivedir/%f && cp %p /mnt/server/archivedir/%f'
{% if pg_archive_command is defined %}
archive_command = '{{ pg_archive_command }}'
{% endif %}

#archive_timeout = 0		# force a logfile segment switch after this
				# number of seconds; 0 disables
archive_timeout = {{ pg_archive_timeout | int }}

#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

# - Sending Servers -

# Set these on the master and on any standby that will send replication data.

#max_wal_senders = 10		# max number of walsender processes
				# (change requires restart)
max_wal_senders = {{ pg_max_wal_senders | int }}

#wal_keep_segments = 0		# in logfile segments; 0 disables
wal_keep_segments = {{ pg_wal_keep_segments | int }}

#wal_sender_timeout = 60s	# in milliseconds; 0 disables
wal_sender_timeout = {{ pg_wal_sender_timeout | int }}

#max_replication_slots = 10	# max number of replication slots
				# (change requires restart)
max_replication_slots = {{ pg_max_replication_slots | int }}

#track_commit_timestamp = off	# collect timestamp of transaction commit
				# (change requires restart)
track_commit_timestamp = {{ pg_track_commit_timestamp }}

# - Master Server -

# These settings are ignored on a standby server.

#synchronous_standby_names = ''	# standby servers that provide sync rep
				# method to choose sync standbys, number of sync standbys,
				# and comma-separated list of application_name
				# from standby(s); '*' = all
synchronous_standby_names = {{ pg_synchronous_standby_names }}

#vacuum_defer_cleanup_age = 0	# number of xacts by which cleanup is delayed
vacuum_defer_cleanup_age = {{ pg_vacuum_defer_cleanup_age }}

# - Standby Servers -

# These settings are ignored on a master server.

#hot_standby = on			# "off" disallows queries during recovery
					# (change requires restart)
hot_standby = {{ pg_hot_standby }}

#max_standby_archive_delay = 30s	# max delay before canceling queries
					# when reading WAL from archive;
					# -1 allows indefinite delay
max_standby_archive_delay = {{ pg_max_standby_archived_delay }}

#max_standby_streaming_delay = 30s	# max delay before canceling queries
					# when reading streaming WAL;
					# -1 allows indefinite delay
max_standby_streaming_delay = {{ pg_max_standby_streaming_delay }}

#wal_receiver_status_interval = 10s	# send replies at least this often
					# 0 disables
wal_receiver_status_interval = {{ pg_wal_receiver_status_interval }}

#hot_standby_feedback = off		# send info from standby to prevent
					# query conflicts
hot_standby_feedback = {{ pg_hot_standby_feedback }}

#wal_receiver_timeout = 60s		# time that receiver waits for
					# communication from master
					# in milliseconds; 0 disables
wal_receiver_timeout = {{ pg_wal_receiver_timeout }}

#wal_retrieve_retry_interval = 5s	# time to wait before retrying to
					# retrieve WAL after a failed attempt
wal_retrieve_retry_interval = {{ pg_wal_retrieve_retry_interval }}

# - Subscribers -

# These settings are ignored on a publisher.

#max_logical_replication_workers = 4	# taken from max_worker_processes
					# (change requires restart)
max_logical_replication_workers = {{ pg_max_logical_replication_workers | int }}

#max_sync_workers_per_subscription = 2	# taken from max_logical_replication_workers
max_sync_workers_per_subscription = {{ pg_max_sync_workers_per_subscription | int }}

#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------

# - Planner Method Configuration -

#enable_bitmapscan = on
enable_bitmapscan = {{ pg_enable_bitmapscan }}

#enable_hashagg = on
enable_hashagg = {{ pg_enable_hashagg }}

#enable_hashjoin = on
enable_hashjoin = {{ pg_enable_hashjoin }}

#enable_indexscan = on
enable_indexscan = {{ pg_enable_indexscan }}

#enable_indexonlyscan = on
enable_indexonlyscan = {{ pg_enable_indexonlyscan }}

#enable_material = on
pg_enable_material = {{ pg_enable_material }}

#enable_mergejoin = on
pg_enable_mergejoin = {{ pg_enable_mergejoin }}

#enable_nestloop = on
enable_nestloop = {{ pg_enable_nestloop }}

#enable_parallel_append = on
enable_parallel_append = {{ pg_enable_parallel_append }}

#enable_seqscan = on
enable_seqscan = {{ pg_enable_seqscan }}

#enable_sort = on
enable_sort = {{ pg_enable_sort }}

#enable_tidscan = on
enable_tidscan = {{ pg_enable_tidscan }}

#enable_partitionwise_join = off
enable_partitionwise_join = {{ pg_enable_partitionwise_join }}

#enable_partitionwise_aggregate = off
enable_partitionwise_aggregate = {{ pg_enable_partitionwise_aggregate }}

#enable_parallel_hash = on
enable_parallel_hash = {{ pg_enable_parallel_hash }}

#enable_partition_pruning = on
enable_partition_pruning = {{ pg_enable_partition_pruning }}

# - Planner Cost Constants -

#seq_page_cost = 1.0			# measured on an arbitrary scale
seq_page_cost = {{ pg_seq_page_cost | float }}

#random_page_cost = 4.0			# same scale as above
random_page_cost = {{ pg_random_page_cost | float }}

#cpu_tuple_cost = 0.01			# same scale as above
cpu_tuple_cost = {{ pg_cpu_tuple_cost | float }}

#cpu_index_tuple_cost = 0.005		# same scale as above
cpu_index_tuple_cost = {{ pg_cpu_index_tuple_cost | float }}

#cpu_operator_cost = 0.0025		# same scale as above
cpu_operator_cost = {{ pg_cpu_operator_cost | float }}

#parallel_tuple_cost = 0.1		# same scale as above
parallel_tuple_cost = {{ pg_parallel_tuple_cost | float }}

#parallel_setup_cost = 1000.0	# same scale as above
parallel_setup_cost = {{ pg_parallel_setup_cost | float }}

#jit_above_cost = 100000		# perform JIT compilation if available
					# and query more expensive, -1 disables
jit_above_cost = {{ pg_jit_above_cost | int }}

#jit_optimize_above_cost = 500000	# optimize JITed functions if query is
					# more expensive, -1 disables
jit_optimize_above_cost = {{ pg_jit_optimize_above_cost | int }}

#jit_inline_above_cost = 500000		# attempt to inline operators and
					# functions if query is more expensive,
					# -1 disables
jit_inline_above_cost = {{ pg_jit_inline_above_cost | int }}

#min_parallel_table_scan_size = 8MB
min_parallel_table_scan_size = {{ pg_min_parallel_table_scan_size_mb | int }}MB

#min_parallel_index_scan_size = 512kB
min_parallel_index_scan_size = {{ pg_min_parallel_index_scan_size_kb | int }}kB

#effective_cache_size = 4GB
effective_cache_size = {{ pg_effective_cache_size_gb | int }}GB

# - Genetic Query Optimizer -

#geqo = on
geqo = {{ pg_geqo }}

#geqo_threshold = 12
geqo_threshold = {{ pg_geqo_threshold | int }}

#geqo_effort = 5			# range 1-10
geqo_effort = {{ pg_geqo_effort | int }}

#geqo_pool_size = 0			# selects default based on effort
geqo_pool_size = {{ pg_geqo_pool_size | int }}

#geqo_generations = 0			# selects default based on effort
geqo_generations = {{ pg_geqo_generations | int }}

#geqo_selection_bias = 2.0		# range 1.5-2.0
geqo_selection_bias = {{ pg_geqo_selection_bias | float }}

#geqo_seed = 0.0			# range 0.0-1.0
geqo_seed = {{ pg_geqo_seed | float }}

# - Other Planner Options -

#default_statistics_target = 100	# range 1-10000
default_statistics_target = {{ pg_default_statistics_target | int }}

#constraint_exclusion = partition	# on, off, or partition
constraint_exclusion = {{ pg_constraint_exclusion }}

#cursor_tuple_fraction = 0.1		# range 0.0-1.0
cursor_tuple_fraction = {{ pg_cursor_tuple_fraction | float }}

#from_collapse_limit = 8
from_collapse_limit = {{ pg_from_collapse_limit | int }}

#join_collapse_limit = 8		# 1 disables collapsing of explicit
join_collapse_limit = {{ pg_join_collapse_limit | int }}
					# JOIN clauses

#force_parallel_mode = off
force_parallel_mode = {{ pg_force_parallel_mode }}

#plan_cache_mode = auto
plan_cache_mode = {{ pg_plan_cache_mode }}


#------------------------------------------------------------------------------
# REPORTING AND LOGGING
#------------------------------------------------------------------------------

# - Where to Log -

#log_destination = 'stderr'		# Valid values are combinations of
					# stderr, csvlog, syslog, and eventlog,
					# depending on platform.  csvlog
					# requires logging_collector to be on.
log_destination = {{ pg_log_destination }}

# This is used when logging to stderr:
#logging_collector = off		# Enable capturing of stderr and csvlog
					# into log files. Required to be on for
					# csvlogs.
					# (change requires restart)
logging_collector = {{ pg_logging_collector }}

# These are only used if logging_collector is on:
#log_directory = 'log'			# directory where log files are written,
					# can be absolute or relative to PGDATA
log_directory = '{{ pg_log_directory }}'

#log_filename = 'postgresql-%Y-%m-%d_%H%M%S.log'	# log file name pattern,
					# can include strftime() escapes
log_filename = '{{ pg_log_filename }}'

#log_file_mode = 0600			# creation mode for log files,
					# begin with 0 to use octal notation
log_file_mode = {{ pg_log_file_mode | int }}

#log_truncate_on_rotation = off		# If on, an existing log file with the
					# same name as the new log file will be
					# truncated rather than appended to.
					# But such truncation only occurs on
					# time-driven rotation, not on restarts
					# or size-driven rotation.  Default is
					# off, meaning append to existing files
					# in all cases.
log_truncate_on_rotation = {{ pg_log_truncate_on_rotation }}

#log_rotation_age = 1d			# Automatic rotation of logfiles will
					# happen after that time.  0 disables.
log_rotation_age = {{ pg_log_rotation_age }}

#log_rotation_size = 10MB		# Automatic rotation of logfiles will
					# happen after that much log output.
					# 0 disables.
log_rotation_size = {{ pg_log_rotation_size }}

# These are relevant when logging to syslog:
#syslog_facility = 'LOCAL0'
{% if pg_syslog_facility is defined %}
syslog_facility = {{ pg_syslog_facility }}
{% endif %}

#syslog_ident = 'postgres'
{% if pg_syslog_ident is defined %}
syslog_ident = {{ pg_syslog_ident }}
{% endif %}

#syslog_sequence_numbers = on
{% if pg_syslog_sequence_numbers is defined %}
syslog_sequence_numbers = {{ pg_syslog_sequence_numbers }}
{% endif %}

#syslog_split_messages = on
{% if pg_syslog_split_messages is defined %}
syslog_split_messages = {{ pg_syslog_split_messages }}
{% endif %}

# - When to Log -

#client_min_messages = notice		# values in order of decreasing detail:
					#   debug5
					#   debug4
					#   debug3
					#   debug2
					#   debug1
					#   log
					#   notice
					#   warning
					#   error
client_min_messages = {{ pg_client_min_messages }}

#log_min_messages = warning		# values in order of decreasing detail:
					#   debug5
					#   debug4
					#   debug3
					#   debug2
					#   debug1
					#   info
					#   notice
					#   warning
					#   error
					#   log
					#   fatal
					#   panic
log_min_messages = {{ pg_log_min_messages }}

#log_min_error_statement = error	# values in order of decreasing detail:
					#   debug5
					#   debug4
					#   debug3
					#   debug2
					#   debug1
					#   info
					#   notice
					#   warning
					#   error
					#   log
					#   fatal
					#   panic (effectively off)
log_min_error_statement = {{ pg_log_min_error_statement }}
#log_min_duration_statement = -1	# -1 is disabled, 0 logs all statements
					# and their durations, > 0 logs only
					# statements running at least this number
					# of milliseconds
log_min_duration_statement = {{ pg_log_min_duration_statement }}

# - What to Log -

#debug_print_parse = off
debug_print_parse = {{ pg_debug_print_parse }}

#debug_print_rewritten = off
debug_print_rewritten = {{ pg_debug_print_rewritten }}
#debug_print_plan = off
debug_print_plan = {{ pg_debug_print_plan }}

#debug_pretty_print = on
debug_pretty_print = {{ pg_debug_pretty_print }}

#log_checkpoints = off
log_checkpoints = {{ pg_log_checkpoints }}

#log_connections = off
log_connections = {{ pg_log_connections }}

#log_disconnections = off
log_disconnections = {{ pg_log_disconnections }}

#log_duration = off
log_duration = {{ pg_log_duration }}

#log_error_verbosity = default		# terse, default, or verbose messages
log_error_verbosity = {{ pg_log_error_verbosity }}

#log_hostname = off
log_hostname = {{ pg_log_hostname }}

#log_line_prefix = '%m [%p] '		# special values:
					#   %a = application name
					#   %u = user name
					#   %d = database name
					#   %r = remote host and port
					#   %h = remote host
					#   %p = process ID
					#   %t = timestamp without milliseconds
					#   %m = timestamp with milliseconds
					#   %n = timestamp with milliseconds (as a Unix epoch)
					#   %i = command tag
					#   %e = SQL state
					#   %c = session ID
					#   %l = session line number
					#   %s = session start timestamp
					#   %v = virtual transaction ID
					#   %x = transaction ID (0 if none)
					#   %q = stop here in non-session
					#        processes
					#   %% = '%'
					# e.g. '<%u%%%d> '
log_line_prefix = '{{ pg_log_line_prefix }}'

#log_lock_waits = off			# log lock waits >= deadlock_timeout
log_lock_waits = {{ pg_log_lock_waits }}

#log_statement = 'none'			# none, ddl, mod, all
log_statement '{{ pg_log_statement }}'

#log_replication_commands = off
log_replication_commands = {{ pg_log_replication_commands }}

#log_temp_files = -1			# log temporary files equal or larger
					# than the specified size in kilobytes;
					# -1 disables, 0 logs all temp files
log_temp_files = {{ pg_log_temp_files }}
#log_timezone = 'GMT'
log_timezone = {{ pg_log_timezone }}

#------------------------------------------------------------------------------
# PROCESS TITLE
#------------------------------------------------------------------------------

#cluster_name = ''			# added to process titles if nonempty
					# (change requires restart)
{% if pg_cluster_name is defined %}
cluster_name = {{ pg_cluster_name }}
{% endif %}

#update_process_title = on
update_process_title = {{ pg_update_process_title }}

#------------------------------------------------------------------------------
# STATISTICS
#------------------------------------------------------------------------------

# - Query and Index Statistics Collector -

#track_activities = on
pg_track_activities= {{ pg_track_activities }}
#track_counts = on
track_counts = {{ pg_track_counts }}

#track_io_timing = off
track_io_timing = {{ pg_track_io_timing }}

#track_functions = none			# none, pl, all
track_functions = {{ pg_track_functions }}

#track_activity_query_size = 1024	# (change requires restart)
track_activity_query_size = {{ pg_track_activity_query_size | int }}

#stats_temp_directory = 'pg_stat_tmp'
stats_temp_directory = '{{ pg_stats_temp_directory }}'


# - Monitoring -

#log_parser_stats = off
log_parser_stats = {{ pg_log_parser_stats }}

#log_planner_stats = off
log_planner_stats = {{ pg_log_planner_stats }}

#log_executor_stats = off
log_executor_stats = {{ pg_log_executor_stats }}

#log_statement_stats = off
log_statement_stats = {{ pg_log_statement_stats }}


#------------------------------------------------------------------------------
# AUTOVACUUM
#------------------------------------------------------------------------------

#autovacuum = on			# Enable autovacuum subprocess?  'on'
					# requires track_counts to also be on.
autovacuum = {{ pg_autovacuum }}

#log_autovacuum_min_duration = -1	# -1 disables, 0 logs all actions and
					# their durations, > 0 logs only
					# actions running at least this number
					# of milliseconds.
log_autovacuum_min_duration = {{ pg_log_autovacuum_min_duration }}

#autovacuum_max_workers = 3		# max number of autovacuum subprocesses
					# (change requires restart)
autovacuum_max_workers = {{ pg_autovacuum_max_workers | int }}

#autovacuum_naptime = 1min		# time between autovacuum runs
autovacuum_naptime = {{ pg_autovacuum_naptime }}

#autovacuum_vacuum_threshold = 50	# min number of row updates before
					# vacuum
autovacuum_vacuum_threshold = {{ pg_autovacuum_vacuum_threshold | int }}

#autovacuum_analyze_threshold = 50	# min number of row updates before
					# analyze
autovacuum_analyze_threshold = {{ pg_autovacuum_analyze_threshold | int }}

#autovacuum_vacuum_scale_factor = 0.2	# fraction of table size before vacuum
autovacuum_vacuum_scale_factor = {{ pg_autovacuum_vacuum_scale_factor | float }}

#autovacuum_analyze_scale_factor = 0.1	# fraction of table size before analyze
autovacuum_analyze_scale_factor = {{ pg_autovacuum_analyze_scale_factor | float }}

#autovacuum_freeze_max_age = 200000000	# maximum XID age before forced vacuum
					# (change requires restart)
autovacuum_freeze_max_age = {{ pg_autovacuum_freeze_max_age | int }}

#autovacuum_multixact_freeze_max_age = 400000000	# maximum multixact age
					# before forced vacuum
					# (change requires restart)
autovacuum_multixact_freeze_max_age = {{ pg_autovacuum_multixact_freeze_max_age | int }}

#autovacuum_vacuum_cost_delay = 20ms	# default vacuum cost delay for
					# autovacuum, in milliseconds;
					# -1 means use vacuum_cost_delay
autovacuum_vacuum_cost_delay = {{ pg_autovacuum_vacuum_cost_delay }}

#autovacuum_vacuum_cost_limit = -1	# default vacuum cost limit for
					# autovacuum, -1 means use
					# vacuum_cost_limit
autovacuum_vacuum_cost_limit = {{ pg_autovacuum_vacuum_cost_limit }}


#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

# - Statement Behavior -

#search_path = '"$user", public'	# schema names
search_path = '{{ pg_search_path }}'

#row_security = on
row_security = {{ pg_row_security }}

#default_tablespace = ''		# a tablespace name, '' uses the default
default_tablespace = {{ pg_default_tablespace }}

#temp_tablespaces = ''			# a list of tablespace names, '' uses
					# only default tablespace
temp_tablespaces = {{ pg_temp_tablespaces }}

#check_function_bodies = on
check_function_bodies = {{ pg_check_function_bodies }}

#default_transaction_isolation = 'read committed'
default_transaction_isolation = "{ pg_default_transaction_isolation }}"

#default_transaction_read_only = off
default_transaction_read_only = {{ pg_default_transaction_read_only }}

#default_transaction_deferrable = off
default_transaction_deferrable = {{ pg_default_transaction_deferrable }}

#session_replication_role = 'origin'
session_replication_role = '{{ pg_session_replication_role }}'

#statement_timeout = 0			# in milliseconds, 0 is disabled
statement_timeout = {{ pg_statement_timeout | int }}

#lock_timeout = 0			# in milliseconds, 0 is disabled
lock_timeout = {{ pg_lock_timeout | int }}

#idle_in_transaction_session_timeout = 0	# in milliseconds, 0 is disabled
idle_in_transaction_session_timeout = {{ pg_idle_in_transaction_session_timeout | int }}

#vacuum_freeze_min_age = 50000000
vacuum_freeze_min_age = {{ pg_vacuum_freeze_min_age | int }}

#vacuum_freeze_table_age = 150000000
vacuum_freeze_table_age = {{ pg_vacuum_freeze_table_age | int }}

#vacuum_multixact_freeze_min_age = 5000000
vacuum_multixact_freeze_min_age = {{ pg_vacuum_multixact_freeze_min_age | int }}

#vacuum_multixact_freeze_table_age = 150000000
vacuum_multixact_freeze_table_age = {{ pg_vacuum_multixact_freeze_table_age | int }}

#vacuum_cleanup_index_scale_factor = 0.1	# fraction of total number of tuples
						# before index cleanup, 0 always performs
						# index cleanup
vacuum_cleanup_index_scale_factor = {{ pg_vacuum_cleanup_index_scale_factor | float }}

#bytea_output = 'hex'			# hex, escape
bytea_output = '{{ pg_bytea_output }}'

#xmlbinary = 'base64'
xmlbinary = '{{ pg_xmlbinary }}'

#xmloption = 'content'
xmloption = '{{ pg_xmloption }}'

#gin_fuzzy_search_limit = 0
gin_fuzzy_search_limit = {{ pg_gin_fuzzy_search_limit | int }}

#gin_pending_list_limit = 4MB
gin_pending_list_limit = {{ pg_gin_pending_list_limit }}

# - Locale and Formatting -

#datestyle = 'iso, mdy'
datestyle = '{{ pg_datestyle }}'

#intervalstyle = 'postgres'
intervalstyle = '{{ pg_intervalstyle }}'

#timezone = 'GMT'
timezone = '{{ pg_timezone }}'

#timezone_abbreviations = 'Default'     # Select the set of available time zone
					# abbreviations.  Currently, there are
					#   Default
					#   Australia (historical usage)
					#   India
					# You can create your own file in
					# share/timezonesets/.
timezone_abbreviations = '{{ pg_timezone_abbreviations }}'

#extra_float_digits = 0			# min -15, max 3
extra_float_digits = {{ pg_extra_float_digits | int }}

#client_encoding = sql_ascii		# actually, defaults to database
					# encoding
client_encoding = {{ pg_client_encoding }}

# These settings are initialized by initdb, but they can be changed.
#lc_messages = 'C'			# locale for system error message
					# strings
lc_messages = '{{ pg_lc_messages }}'

#lc_monetary = 'C'			# locale for monetary formatting
lc_monetary = '{{ pg_lc_monetary }}'

#lc_numeric = 'C'			# locale for number formatting
lc_numeric = "{{ pg_lc_numeric }}"

#lc_time = 'C'				# locale for time formatting
lc_time = '{{ pg_lc_time }}'

# default configuration for text search
#default_text_search_config = 'pg_catalog.simple'
default_text_search_config = '{{ pg_default_text_search_config }}'

# - Shared Library Preloading -

#shared_preload_libraries = ''	# (change requires restart)
{% if pg_shared_preload_libraries is defined %}
shared_preload_libraries = '{{ pg_shared_preload_libraries }}'
{% endif %}

#local_preload_libraries = ''
{% if pg_local_preload_libraries is defined %}
local_preload_libraries = '{{ pg_local_preload_libraries }}'
{% endif %}

#session_preload_libraries = ''
{% if pg_session_preload_libraries is defined %}
session_preload_libraries = '{{ pg_session_preload_libraries }}'
{% endif %}

# - Other Defaults -

#dynamic_library_path = '$libdir'
dynamic_library_path = {{ pg_dynamic_library_path }}

#jit = on				# allow JIT compilation
jit = {{ pg_jit }}

#jit_provider = 'llvmjit'		# JIT implementation to use
jit_provider = {{ pg_jit_provider }}

#------------------------------------------------------------------------------
# LOCK MANAGEMENT
#------------------------------------------------------------------------------

#deadlock_timeout = 1s
deadlock_timeout = {{ pg_deadlock_timeout }}

#max_locks_per_transaction = 64		# min 10
					# (change requires restart)
max_locks_per_transaction = {{ pg_max_locks_per_transaction | int }}

#max_pred_locks_per_transaction = 64	# min 10
					# (change requires restart)
max_pred_locks_per_transaction = {{ pg_max_pred_locks_per_transaction }}

#max_pred_locks_per_relation = -2	# negative values mean
					# (max_pred_locks_per_transaction
					#  / -max_pred_locks_per_relation) - 1
max_pred_locks_per_relation = {{ pg_max_pred_locks_per_relation }}

#max_pred_locks_per_page = 2            # min 0
max_pred_locks_per_page = {{ pg_max_pred_locks_per_page | int }}


#------------------------------------------------------------------------------
# VERSION AND PLATFORM COMPATIBILITY
#------------------------------------------------------------------------------

# - Previous PostgreSQL Versions -

#array_nulls = on
array_nulls = {{ pg_array_nulls }}

#backslash_quote = safe_encoding	# on, off, or safe_encoding
backslash_quote = {{ pg_backslash_quote }}

#default_with_oids = off
default_with_oids = {{ pg_default_with_oids }}

#escape_string_warning = on
escape_string_warning = {{ pg_escape_string_warning }}

#lo_compat_privileges = off
lo_compat_privileges = {{ pg_lo_compat_privileges }}

#operator_precedence_warning = off
operator_precedence_warning = {{ pg_operator_precedence_warning }}

#quote_all_identifiers = off
quote_all_identifiers = {{ pg_quote_all_identifiers }}

#standard_conforming_strings = on
standard_conforming_strings = {{ pg_standard_conforming_strings }}

#synchronize_seqscans = on
synchronize_seqscans = {{ pg_synchronize_seqscans }}

# - Other Platforms and Clients -

#transform_null_equals = off
transform_null_equals = {{ pg_transform_null_equals }}


#------------------------------------------------------------------------------
# ERROR HANDLING
#------------------------------------------------------------------------------

#exit_on_error = off			# terminate session on any error?
exit_on_error = {{ pg_exit_on_error }}
#restart_after_crash = on		# reinitialize after backend crash?
restart_after_crash = {{ pg_restart_after_crash }}


#------------------------------------------------------------------------------
# CONFIG FILE INCLUDES
#------------------------------------------------------------------------------

# These options allow settings to be loaded from files other than the
# default postgresql.conf.

#include_dir = 'conf.d'			# include files ending in '.conf' from
					# directory 'conf.d'
include_dir = '{{ pg_include_dir }}'

#include_if_exists = 'exists.conf'	# include file only if it exists
include_if_exists = '{{ pg_include_if_exists }}'

#include = 'special.conf'		# include file
include = '{{ pg_include }}'


#------------------------------------------------------------------------------
# CUSTOMIZED OPTIONS
#------------------------------------------------------------------------------

# Add settings for extensions here
{% if pg_customized_options is defined %}
{% for option in pg_customized_options %}
{{ option.key }} = {{ option.value }}

{% endfor %}
{% endif %}
