[Unit]
Description=RavenDB {{ ravendb_version }}
After=network.target

[Service]
LimitCORE=infinity
LimitNOFILE=65536
LimitRSS=infinity
LimitAS=infinity
User={{ ravendb_user }}
Restart=on-failure
Type=simple
ExecStart=/opt/RavenDB/run.sh

[Install]
WantedBy=multi-user.target