{
    "ServerUrl": "https://{{ ravendb_server_url }}:{{ ravendb_port }}",
    "PublicServerUrl": "https://{{ ravendb_public_server_url }}:{{ ravendb_port }}",
    "Security.UnsecuredAccessAllowed": "PublicNetwork",
    "Setup.Mode": "{{ ravendb_setup_mode }}",
    "DataDir": "RavenData"{% if ravendb_license is defined %},
    "License": {{ ravendb_license }},{% endif %}
    "License.Eula.Accepted": "true"{% if ravendb_monitoring is sameas true %},
    "Monitoring.Snmp.Enabled": "true",
    "Monitoring.Snmp.Community": "{{ ravendb_snmp_password }}"{% endif %}
}